<div class="container">
    <div class="row">
      <div class="md-form">
        <input #guessNumber mdbActive type="number" id="input" class="form-control">
        <label for="input" class="">Enter number to guesse</label>
      </div>
      <div>
        <button type="button" class="btn btn-primary waves-light" mdbRippleRadius (click)="doGuesse(guessNumber.value)">Guesse the number</button>
      </div>
      <table class="table">
          <thead *ngIf="(guesses.length > 0)">
            <tr>
              <th>#</th>
              <th>Guess</th>
              <th>Result</th>
              
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let g of guesses" [class] ="g.IsCorrect?'table-success':''">
                  <th scope="row">{{g.Attempt}}</th>
                  <td>{{g.Value}}</td>
                  <td>{{g.IsTooLow ? "Te laag": g.IsTooHigh ? "Te hoog": "Correct !!"}}</td>
                </tr>
          </tbody>
        </table>
    </div>
  </div>
