<div class="card">
        <!--Card image-->
        <img class="img-fluid" [src]="'https://mdbootstrap.com/img/Photos/Slides/'+ imageUrl" alt="Card image cap">
        
        <select class="form-control" [(ngModel)]="imageNr">
            <option *ngFor = "let i of images" value="{{i}}">Image {{i}}</option>
        </select>
        
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
</div>