<div class="card">
        <link rel="dread" type="image" href="dreaddrone.jpg">
            <!--Card image-->
            <img class="img-fluid" [src]="'https://mdbootstrap.com/img/Photos/Slides/'+ imageUrl" alt="Card image cap">
            <!--Card image-->
            <img class="img-fluid" src = "dreaddrone.jpg">
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
            </div>
        
        </div>