<br>
<div style="text-align:center">
  <h1>
    Welcome {{title}}!
  </h1>
</div>

<br>
<br>
<div class ="container-fluid">
  <div class="row">
                                        
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Primary</button>

<!-- Default button -->
<button type="button" class="btn btn-default waves-light" mdbRippleRadius>Default</button>

<!-- Secondary button -->
<button type="button" class="btn btn-secondary waves-light" mdbRippleRadius>Secondary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info waves-light" mdbRippleRadius>Info</button>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
      <app-welcome></app-welcome>
    </div>
    <div class="col-sm-4">
      <app-weather></app-weather>
    </div>
    <div class="col-sm-4">
        <div style="text-align:center">
          <img width="300" src="/assets/symbol.png">
        </div>
        <app-delijn></app-delijn>     
    </div>
  </div>
</div>
